@font-face {
    font-family: '8BIT WONDER';
    src: url('../fonts/8BITWONDERNominal.eot');
    src: url('../fonts/8BITWONDERNominal.eot?#iefix') format('embedded-opentype'),
        url('../fonts/8BITWONDERNominal.woff2') format('woff2'),
        url('../fonts/8BITWONDERNominal.woff') format('woff'),
        url('../fonts/8BITWONDERNominal.ttf') format('truetype'),
        url('../fonts/8BITWONDERNominal.svg#8BITWONDERNominal') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'V5 Xtender';
    src: url('../fonts/V5Xtender.eot');
    src: url('../fonts/V5Xtender.eot?#iefix') format('embedded-opentype'),
        url('../fonts/V5Xtender.woff2') format('woff2'),
        url('../fonts/V5Xtender.woff') format('woff'),
        url('../fonts/V5Xtender.ttf') format('truetype'),
        url('../fonts/V5Xtender.svg#V5Xtender') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pixel Operator 8';
    src: url('../fonts/PixelOperator8.eot');
    src: url('../fonts/PixelOperator8.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PixelOperator8.woff2') format('woff2'),
        url('../fonts/PixelOperator8.woff') format('woff'),
        url('../fonts/PixelOperator8.ttf') format('truetype'),
        url('../fonts/PixelOperator8.svg#PixelOperator8') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator';
    src: url('../fonts/PixelOperator.eot');
    src: url('../fonts/PixelOperator.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PixelOperator.woff2') format('woff2'),
        url('../fonts/PixelOperator.woff') format('woff'),
        url('../fonts/PixelOperator.ttf') format('truetype'),
        url('../fonts/PixelOperator.svg#PixelOperator') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator Mono 8';
    src: url('../fonts/PixelOperatorMono8.eot');
    src: url('../fonts/PixelOperatorMono8.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PixelOperatorMono8.woff2') format('woff2'),
        url('../fonts/PixelOperatorMono8.woff') format('woff'),
        url('../fonts/PixelOperatorMono8.ttf') format('truetype'),
        url('../fonts/PixelOperatorMono8.svg#PixelOperatorMono8') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator HB 8';
    src: url('../fonts/PixelOperatorHB8.eot');
    src: url('../fonts/PixelOperatorHB8.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PixelOperatorHB8.woff2') format('woff2'),
        url('../fonts/PixelOperatorHB8.woff') format('woff'),
        url('../fonts/PixelOperatorHB8.ttf') format('truetype'),
        url('../fonts/PixelOperatorHB8.svg#PixelOperatorHB8') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator Mono';
    src: url('../fonts/PixelOperatorMono-Bold.eot');
    src: url('../fonts/PixelOperatorMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PixelOperatorMono-Bold.woff2') format('woff2'),
        url('../fonts/PixelOperatorMono-Bold.woff') format('woff'),
        url('../fonts/PixelOperatorMono-Bold.ttf') format('truetype'),
        url('../fonts/PixelOperatorMono-Bold.svg#PixelOperatorMono-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator Mono';
    src: url('../fonts/PixelOperatorMono.eot');
    src: url('../fonts/PixelOperatorMono.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PixelOperatorMono.woff2') format('woff2'),
        url('../fonts/PixelOperatorMono.woff') format('woff'),
        url('../fonts/PixelOperatorMono.ttf') format('truetype'),
        url('../fonts/PixelOperatorMono.svg#PixelOperatorMono') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator 8';
    src: url('../fonts/PixelOperator8-Bold.eot');
    src: url('../fonts/PixelOperator8-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PixelOperator8-Bold.woff2') format('woff2'),
        url('../fonts/PixelOperator8-Bold.woff') format('woff'),
        url('../fonts/PixelOperator8-Bold.ttf') format('truetype'),
        url('../fonts/PixelOperator8-Bold.svg#PixelOperator8-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator Mono 8';
    src: url('../fonts/PixelOperatorMono8-Bold.eot');
    src: url('../fonts/PixelOperatorMono8-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PixelOperatorMono8-Bold.woff2') format('woff2'),
        url('../fonts/PixelOperatorMono8-Bold.woff') format('woff'),
        url('../fonts/PixelOperatorMono8-Bold.ttf') format('truetype'),
        url('../fonts/PixelOperatorMono8-Bold.svg#PixelOperatorMono8-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator HB SC';
    src: url('../fonts/PixelOperatorHBSC.eot');
    src: url('../fonts/PixelOperatorHBSC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PixelOperatorHBSC.woff2') format('woff2'),
        url('../fonts/PixelOperatorHBSC.woff') format('woff'),
        url('../fonts/PixelOperatorHBSC.ttf') format('truetype'),
        url('../fonts/PixelOperatorHBSC.svg#PixelOperatorHBSC') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator Mono HB 8';
    src: url('../fonts/PixelOperatorMonoHB8.eot');
    src: url('../fonts/PixelOperatorMonoHB8.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PixelOperatorMonoHB8.woff2') format('woff2'),
        url('../fonts/PixelOperatorMonoHB8.woff') format('woff'),
        url('../fonts/PixelOperatorMonoHB8.ttf') format('truetype'),
        url('../fonts/PixelOperatorMonoHB8.svg#PixelOperatorMonoHB8') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator HB';
    src: url('../fonts/PixelOperatorHB.eot');
    src: url('../fonts/PixelOperatorHB.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PixelOperatorHB.woff2') format('woff2'),
        url('../fonts/PixelOperatorHB.woff') format('woff'),
        url('../fonts/PixelOperatorHB.ttf') format('truetype'),
        url('../fonts/PixelOperatorHB.svg#PixelOperatorHB') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator';
    src: url('../fonts/PixelOperator-Bold.eot');
    src: url('../fonts/PixelOperator-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PixelOperator-Bold.woff2') format('woff2'),
        url('../fonts/PixelOperator-Bold.woff') format('woff'),
        url('../fonts/PixelOperator-Bold.ttf') format('truetype'),
        url('../fonts/PixelOperator-Bold.svg#PixelOperator-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator Mono HB';
    src: url('../fonts/PixelOperatorMonoHB.eot');
    src: url('../fonts/PixelOperatorMonoHB.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PixelOperatorMonoHB.woff2') format('woff2'),
        url('../fonts/PixelOperatorMonoHB.woff') format('woff'),
        url('../fonts/PixelOperatorMonoHB.ttf') format('truetype'),
        url('../fonts/PixelOperatorMonoHB.svg#PixelOperatorMonoHB') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator SC';
    src: url('../fonts/PixelOperatorSC-Bold.eot');
    src: url('../fonts/PixelOperatorSC-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PixelOperatorSC-Bold.woff2') format('woff2'),
        url('../fonts/PixelOperatorSC-Bold.woff') format('woff'),
        url('../fonts/PixelOperatorSC-Bold.ttf') format('truetype'),
        url('../fonts/PixelOperatorSC-Bold.svg#PixelOperatorSC-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixel Operator SC';
    src: url('../fonts/PixelOperatorSC.eot');
    src: url('../fonts/PixelOperatorSC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PixelOperatorSC.woff2') format('woff2'),
        url('../fonts/PixelOperatorSC.woff') format('woff'),
        url('../fonts/PixelOperatorSC.ttf') format('truetype'),
        url('../fonts/PixelOperatorSC.svg#PixelOperatorSC') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

